:root {
  --dartScale: 1.5; /*change for size of darts*/
  --dartPos: 2.25;
}

html,
body,
h1,
p,
div {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

main {
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* MOUSE CURSOR */

body {
  cursor: url(../img/crosshair.png) 15 15, auto;
}

/* CONTAINERS */

#start-window {
  display: none; /* switch to none / flex for testing */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#end-window {
  display: none; /* switch to none / flex for testing */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  position: absolute;
}

#game-window {
  display: block; /* switch to block for testing */
  height: 100vh;
  width: 100vw;
}

.start-end-container {
  width: 60%;
  min-height: 50vh;
  padding: 40px 40px 60px 40px;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.end-background {
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  /* switch to none for testing */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* START / END SCREENS */

.start-background {
  height: 100vh;
  width: 100vw;
  background-image: url("../img/background-image.jpg");
  background-position: bottom; /*here bottom*/
  background-size: cover;
  background-repeat: no-repeat;
  /* switch to none for testing */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  margin-top: 40px;
  border: none;
  padding: 10px 20px;
  background-color: red;
  border-radius: 10px;
  cursor: url(../img/explosion-cursor.png) 25 25, auto;
}

#restart-button {
  background-color: blue;
}

/* GAME SCREEN */

#time-up {
  display: none;
}

#game-screen {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/background-image.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

/* TEXT */

h1 {
  font-family: "Dangrek";
}

p {
  font-family: "Manrope";
}

.start-game-title {
  font-size: 3em;
  text-transform: uppercase;
  color: white;
}

.normal-text {
  margin-top: 20px;
  width: 100%;
  font-size: 1.8em;
  text-align: center;
  color: white;
}

button {
  font-family: "Dangrek";
  font-size: 2.4em;
  color: white;
  text-transform: uppercase;
}

.score-text {
  font-size: 1.2em;
}

/* #score-text-special{
  margin-top: 5px;
  background-color: red;
  padding: 5px;
  color: red;
} */

/* SCORE / COUNTER */

#score {
  font-size: 3.5em;
  position: absolute;
  right: 30px;
  top: 20px;
}

#time {
  font-size: 3.5em;
  color: red;
  position: absolute;
  right: 45vw;
  bottom: 20px;
}

/* SPRITES */

.balloon-class {
  background-image: url("../img/balloon.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.broccoli-class {
  background-image: url("../img/BROCCOLI-rope.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.belloon-explode {
  background-image: url("../img/explosion.png");
}

.broccoli-hit {
  background-image: url("../img/BROCCOLI-rope-rotten.png");
}

.broccoli-falling {
  background-image: url("../img/BROCCOLI-falling.png");
}

.broccoli-rotten-falling {
  background-image: url("../img/BROCCOLI-rope-rotten-falling.png");
}

.broccoli-growing {
  background-image: url("../img/BROCCOLI-ground.png");
}

.broccoli-growing-hit {
  background-image: url("../img/BROCCOLI-rope-rotten-growing.png");
}

/* DARTS */
/* 450 x 600 format */
#dart-container {
  height: calc(var(--dartScale)*6em);
  position: absolute;
  top: 50px;
  left: 50px;
  display: block; 
}
.dart {
  width: calc(var(--dartScale)*4.5em);
  height: 100%;
  /* let clicks through */
  pointer-events: none;
}
#dart1 {
  position: absolute;
  left: calc(0em*var(--dartPos));
  top: 0;
}
#dart2 {
  position: absolute;
  left: calc(1em * var(--dartPos));
  top: 0;
}
#dart3 {
  position: absolute;
  left: calc(2em * var(--dartPos));
  top: 0;
}
#dart4 {
  position: absolute;
  left: calc(3em * var(--dartPos));
  top: 0;
}
#dart5 {
  position: absolute;
  left: calc(4em * var(--dartPos));
  top: 0;
}
#dart6 {
  position: absolute;
  left: calc(5em * var(--dartPos));
  top: 0;
}
#dart7 {
  position: absolute;
  left: calc(6em * var(--dartPos));
  top: 0;
}
#dart8 {
  position: absolute;
  left: calc(7em * var(--dartPos));
  top: 0;
}

.dart-active {
  background-image: url("../img/dart-active.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.dart-inactive {
  background-image: url("../img/dart-inactive.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}