:root {
  --dartScale: 1.5; /*change for size of darts*/
  --dartPos: 2.25;
}

html,
body,
h1,
p,
div,
ul,
ol,
li,
label,
input {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

main {
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* MOUSE CURSOR */

body {
  cursor: url(../img/crosshair.png) 15 15, auto;
}

/* TEXT */

h1 {
  font-family: "Dangrek";
}

p,
li {
  font-family: "Manrope";
}

button {
  font-family: "Dangrek";
  font-size: 2.4em;
  color: white;
  text-transform: uppercase;
}

/* CONTAINERS */

#start-window {
  display: flex; /* switch to none / flex for testing */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#end-window {
  display: none; /* switch to none / flex for testing */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  position: absolute;
}

#game-window {
  display: none; /* switch to block for testing */
  height: 100vh;
  width: 100vw;
}

.start-end-container {
  width: 60%;
  max-height: 75vh;
  padding: 40px 40px 60px 40px;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  
}

.end-background {
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  /* switch to none for testing */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* START / END SCREENS */

.button {
  margin-top: 50px;
  border: none;
  padding: 10px 20px;
  background-color: red;
  border-radius: 10px;
  cursor: url(../img/explosion-cursor.png) 25 25, auto;
}

#restart-button {
  background-color: blue;
}

/* START SCREEN */

.start-background {
  height: 100vh;
  width: 100vw;
  background-image: url("../img/background-image.jpg");
  background-position: bottom; /*here bottom*/
  background-size: cover;
  background-repeat: no-repeat;
  /* switch to none for testing */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-game-title {
  font-size: 3em;
  text-transform: uppercase;
  color: white;
}

.normal-text {
  margin-top: 30px;
  width: 100%;
  font-size: 1.4em;
  text-align: left;
  color: white;
  hyphens: auto;
}

.start-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#start-text-container {
  width: 55%;
}

#name-and-keys {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 30px;
}

#input-name-container {
  /* height: 30%; */
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#explain-buttons-container {
  /* height: 70%; */
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.explain-button {
  width: 50%;
  font-family: "Dangrek";
  font-size: 1.4em;
  color: white;
  text-transform: uppercase;
  background-color: transparent;
  border-style: none;
  background-color: blue;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}

#click-button {
  cursor: url(../img/crosshair.png) 15 15, auto;
}

#reload-button {
  cursor: url(../img/crosshair.png) 15 15, auto;
}

input {
  width: 50%;
  height: 40px; 
  font-size: 1.4em;
  text-align: center;
  border-radius: 10px;
  border-style: dotted;
  overflow: visible;
  font-family: manrope;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
}

/* GAME SCREEN */

#time-up {
  display: none;
}

#game-screen {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/background-image.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

/* END SCREEN */

#score-container {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 30px;
  justify-content: center;
  gap:20%;
}

.score-subcontainer{
  width:auto;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.stats-scores {
  width: auto;
  color: white;
  text-align: left;
}

.stats-scores li {
  font-size: 1.8em;
}

#stats-titles, #stats-numbers, #highscores-numbers {
  list-style: none;
}

#highscores-names {
  list-style: decimal;
  list-style-position: inside;
}

/* SCORE / COUNTER */

#score {
  font-size: 3.5em;
  position: absolute;
  right: 30px;
  top: 20px;
}

#time {
  font-size: 3.5em;
  color: red;
  position: absolute;
  left: 47vw;
  bottom: 20px;
}

/* SPRITES */

.balloon-class {
  background-image: url("../img/balloon.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.broccoli-class {
  background-image: url("../img/BROCCOLI-rope.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.belloon-explode {
  background-image: url("../img/explosion.png");
}

.broccoli-hit {
  background-image: url("../img/BROCCOLI-rope-rotten.png");
}

.broccoli-falling {
  background-image: url("../img/BROCCOLI-falling.png");
}

.broccoli-rotten-falling {
  background-image: url("../img/BROCCOLI-rope-rotten-falling.png");
}

.broccoli-growing {
  background-image: url("../img/BROCCOLI-ground.png");
}

.broccoli-growing-hit {
  background-image: url("../img/BROCCOLI-rope-rotten-growing.png");
}

/* bonus sprites */

.bonus-balloon-class {
  background-image: url("../img/metal-balloon.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.bonus-broccoli-class {
  background-image: url("../img/BROCCOLI-rope-strong.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.bonus-broccoli-hit {
  background-image: url("../img/BROCCOLI-rope-rotten-strong.png");
}

.bonus-broccoli-falling {
  background-image: url("../img/BROCCOLI-falling-strong.png");
}

.bonus-broccoli-rotten-falling {
  background-image: url("../img/BROCCOLI-rope-rotten-falling-strong.png");
}

.bonus-broccoli-growing {
  background-image: url("../img/BROCCOLI-ground-strong.png");
}

.bonus-broccoli-growing-hit {
  background-image: url("../img/BROCCOLI-rope-rotten-growing-strong.png");
}

/* DARTS */
/* 450 x 600 format */

#dart-container {
  height: calc(var(--dartScale) * 6em);
  position: absolute;
  top: 50px;
  left: 50px;
  display: block;
}
.dart {
  width: calc(var(--dartScale) * 4.5em);
  height: 100%;
  /* let clicks through */
  pointer-events: none;
}
#dart1 {
  position: absolute;
  left: calc(0em * var(--dartPos));
  top: 0;
}
#dart2 {
  position: absolute;
  left: calc(1em * var(--dartPos));
  top: 0;
}
#dart3 {
  position: absolute;
  left: calc(2em * var(--dartPos));
  top: 0;
}
#dart4 {
  position: absolute;
  left: calc(3em * var(--dartPos));
  top: 0;
}
#dart5 {
  position: absolute;
  left: calc(4em * var(--dartPos));
  top: 0;
}
#dart6 {
  position: absolute;
  left: calc(5em * var(--dartPos));
  top: 0;
}
#dart7 {
  position: absolute;
  left: calc(6em * var(--dartPos));
  top: 0;
}
#dart8 {
  position: absolute;
  left: calc(7em * var(--dartPos));
  top: 0;
}

.dart-active {
  background-image: url("../img/dart-active.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.dart-inactive {
  background-image: url("../img/dart-inactive.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}


/* TABLET */
@media only screen and (max-width: 1000px) {

  /* Show Scores as column */
  #score-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 50px;
  }

  .score-subcontainer{
    width:100%;
  }

  /* show darts underneath each other */
  #dart1 {
    left: 0;
    top: 0;
  }
  #dart2 {
    left: 0;
    top: 30px;
  }
  #dart3 {
    left: 0;
    top: 60px;
  }
  #dart4 {
    left: 0;
    top: 90px;
  }
  #dart5 {
    left: 0;
    top: 120px;
  }
  #dart6 {
    left: 0;
    top: 150px;
  }
  #dart7 {
    left: 0;
    top: 180px;
  }
  #dart8 {
    left: 0;
    top: 210px;
  }
}


/* MOBILE */
@media only screen and (max-width: 600px) {

  #dart1,  #dart2,  #dart3,  #dart4,  #dart5,  #dart6,  #dart7,  #dart8 {
    display:none;
  }

  #score {
    font-size: 2.5em;
    position:inherit;
    right: 0;
    top: 0;
    text-align: center;
  }
  
  #time {
    font-size: 2.5em;
    color: red;
    left: 20px;
    bottom: 20px;
  }

 .score-subcontainer{
  gap:15px;
 }

}